---

---
<section class="contacto container">
                <h2 class="contacto__titulo">Contacto</h2>
                <p>Entre en contacto con nosotros</p>
                <a href="#" class="contacto__boton boton">Entre en contacto</a>
            </section>
<style>
    .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contacto__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contacto__boton {
    color: var(--boton-rojo);

    border-color: var(--boton-rojo);

    margin-top: 1.25rem;
}
</style>