---
---

<section class="diferenciales container">
                <ul class="diferenciales__lista">
                    <li class="diferenciales__item diferenciales__item-reloj">
                        <h2 class="item__titulo">Tiempo</h2>
                        <p class="item__texto">¡Tiempo es importante! Trabajamos en ritmo acelerado, para atender los plazos rigurosamente.</p>
                    </li>
                    <li class="diferenciales__item diferenciales__item-dinero">
                        <h2 class="item__titulo">Enfoque</h2>
                        <p class="item__texto">Focamos en el pequeño y médio empreendedor, ofrecemos servicios de calidad con precios accesibles.</p>
                    </li>
                    <li class="diferenciales__item diferenciales__item-quimica">
                        <h2 class="item__titulo">Especialistas</h2>
                        <p class="item__texto">Equipo especializada, con experiéncia de mercado. Testamos todos los productos antes del lanzamiento.</p>
                    </li>
                </ul>
            </section>

<style> 
    .diferenciales {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.diferenciales__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diferenciales__item {
    max-width: 350px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;
}

.item__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.item__texto {
    line-height: normal;
}

.diferenciales__item-reloj {
    background-image: url('/img/icono-reloj.png');
}

.diferenciales__item-dinero {
    background-image: url('/img/icono-dinero.png');
}

.diferenciales__item-quimica {
    background-image: url('/img/icono-quimica.png');
}

@media screen and (min-width: 1024px) {
    .diferenciales {
        background-color: var(--background-ceniza-claro);
    }
    
    .diferenciales__lista {
        justify-content: space-around;
    }
}
</style>